<div class="row">
  <div class="card col-lg-3 col-md-4" *ngFor="let movie of movieList | paginate: { itemsPerPage: 10, currentPage: p} ">
    <div class="card-body">
      <h5 class="card-title"><span>{{movie.title}}</span></h5>
      <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" style="text-align: center" class="img-fluid img-responsive">
      <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
    </div>
    <div class="card-footer">
      <h5>Release Date:- {{movie.release_date}}</h5>
      <button (click)=addFav(movie)>Add to Favourite</button>
    </div>
  </div>
</div>
<div class="paginateicon">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>