ul li{text-decoration: none; list-style: none;}
footer { background-color:#0c1a1e ; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footer-col { margin-top:50px; }
.footer-col h3 { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700; font-style: 'Open Sans';}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4 ; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-bottom{ text-align: center}
.footer-bottom p{color:#fff;}
.movie{background-color: #595959}